.body {
  background-color: #F0F0EE;
}

.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 24px;
}

@media (max-width: 640px) {
  .main {
    width: auto;
    padding: 24px;
  }
}
