.list {
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}

.link {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.content {
  padding: 10px;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.list:first-child {
  grid-column: 1 / -1;
}

.list:first-child .link {
  flex-direction: row;
}

.list:first-child .picture {
  width: 60%;
  height: auto;
}

@media (max-width: 640px) {
  .image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 1.4rem;
  }

  .list:first-child {
    grid-column: auto;
  }

  .list:first-child .link {
    flex-direction: column;
  }

  .list:first-child .picture {
  width: 100%;
}
}
